* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "SmokingTequila";
  src: local("SmokingTequila"),
    url(./fonts/SmokingTequila.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
